<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
    <div id="main">
      <transition name="fade">
        <div class="bar" id="menu-bar" v-if="is_show_ui"></div>
      </transition>
      <transition name="fade">
        <div class="bar" id="slider-bar" v-if="is_show_ui"></div>
      </transition>
      <div id="control-area">
        <div></div>
        <div @click="toggle_ui()"></div>
        <div></div>
      </div>
    </div>
  </body>

  <script src="script.js"></script>
</html>