<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
    <div id="main" class="filled">

      <transition name="in-out-translate-fade" mode="in-out">
        <viewport id="viewport0" v-bind:images="viewport0_images" v-show="is_viewport0"></viewport>
      </transition>
      <transition name="in-out-translate-fade" mode="in-out">
        <viewport id="viewport1" v-bind:images="viewport1_images" v-show="!is_viewport0"></viewport>
      </transition>

      <transition name="fade">
        <div class="bar filled" id="menu-bar" v-if="is_show_ui">

          <div class="menu-field separator">
            <button id="toggle-fullscreen" title="全屏" @click="ToggleFullScreen()"></button>
          </div>

          <div id="title">
            <div class="padding"></div>
            <span class="text">私がモテないのはどう考えてもお前らが悪い! 1巻</span>
          </div>

          <div id="submenu">
            <div class="menu-field">
              <button id="toggle-toc" title="目录"></button>
            </div>
            <div class="menu-field">
              <button id="toggle-bookmark" title="书签"></button>
            </div>
            <div class="menu-field">
              <button id="toggle-setting" title="设置"></button>
            </div>
            <div class="menu-field">
              <button id="goto-homepage" title="返回主页"></button>
            </div>
          </div>

        </div>
      </transition>

      <transition name="fade">
        <div class="bar" id="slider-bar" v-if="is_show_ui"></div>
      </transition>

    <div id="control-area" class="filled">
        <div @click="NextPage()"></div>
        <div @click="ToggleUI()"></div>
        <div @click="LastPage()"></div>
      </div>
    </div>
    
  </body>

  <script src="components.js"></script>
  <script src="script.js"></script>
</html>