body {
  background-color: rgb(59, 59, 59);
  padding: 0;
  margin:0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.bar {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: 44px;
  width: 100%;
  min-width: 386px;
  position: absolute;
  padding: 3px 6px;
  font-size: 0;
  white-space: nowrap;
  box-sizing: border-box;
}

#menu-bar {
  top:0;
}

#slider-bar {
  bottom:0;
}

#control-area > * {
  height: 100%;
  width: calc(100% / 3);
  float: left;
}

.menu-field {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 40px;
  margin: 0 20px 0 0;
}

#menu-bar .menu-field button {
	font-size: 20px;
	position: absolute;
	width: 38px;
	height: 28px;
	padding: 0;
	top: 50%;
	left: 50%;
	margin-top: -14px;
	margin-left: -19px;
	background: 0 0;
	border-style: none;
	background-image: url(image/icons.png);
	opacity: .9;
	overflow: visible;
}

.separator:after {
  border: 1px outset gray;
  content: "";
  left: 44px;
  position: absolute;
  display: block;
  height: 70%;
  width: 0;
  top: 15%;
}

#title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  width: 100%;
  top: -36px;
  left: 0;
  height: 36px;
  padding-left: 380px;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

#title .text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  max-width: 100%;
}

#title .padding {
  width: 380px;
  float: right;
  height: 100%;
}

#submenu {
  display: inline-block;
}

#menu-bar .menu-field #close {
  background-position: 0 -28px;
}

#menu-bar .menu-field #toggle-toc {
  background-position: -38px -28px;
}

#menu-bar .menu-field #toggle-bookmark {
  background-position: -76px -28px;
}

#menu-bar .menu-field #toggle-setting {
  background-position: -114px -28px;
}

#menu-bar .menu-field #toggle-fullscreen {
  background-position: -152px -28px;
}

#menu-bar .menu-field #goto-homepage {
  background-position: -190px -28px;
}