body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#main {
  background-color: rgb(59, 59, 59);
  width: 100%;
  height: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.bar {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: 44px;
  width: 100%;
  position: absolute;
  padding: 3px 6px;
  font-size: 0;
  white-space: nowrap;
  box-sizing: border-box;
}

#menu-bar {
  top:0;
  z-index: 1000;
}

#slider-bar {
  bottom:0;
}

.filled {
  width: 100%;
  min-width: 346px;
}

#control-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#control-area > * {
  height: 100%;
  width: calc(100% / 3);
  float: left;
}

.separator:after {
  border: 1px outset gray;
  content: "";
  left: 44px;
  position: absolute;
  display: block;
  height: 70%;
  width: 0;
  top: 15%;
}

#title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  width: 100%;
  top: -36px;
  left: 0;
  height: 36px;
  padding-left: 340px;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

#title .text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  max-width: 100%;
}

#title .padding {
  width: 340px;
  float: right;
  height: 100%;
}

.menu-field {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 40px;
  margin: 0 20px 0 0;
  z-index: 1000;
}

#menu-bar .menu-field button {
	font-size: 20px;
	position: absolute;
	width: 38px;
	height: 28px;
	padding: 0;
	top: 50%;
	left: 50%;
	margin-top: -14px;
	margin-left: -19px;
	background: 0 0;
	border-style: none;
	background-image: url(image/icons.png);
	opacity: .9;
	overflow: visible;
}

#submenu {
  display: inline-block;
}

#menu-bar .menu-field #toggle-toc {
  background-position: -38px -28px;
}

#menu-bar .menu-field #toggle-bookmark {
  background-position: -76px -28px;
}

#menu-bar .menu-field #toggle-setting {
  background-position: -114px -28px;
}

#menu-bar .menu-field #toggle-fullscreen {
  background-position: -0 -28px;
}

#menu-bar .menu-field #goto-homepage {
  background-position: -152px -28px;
}

#menu-bar .menu-field button:hover {
  background-position-y: -56px !important;
}

#menu-bar .menu-field button:active {
  background-position-y: 0 !important;
}

.viewport {
  width: 100%;
  height: 100%;
  position: absolute;
}

.viewport .twoside {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.viewport .page-left {
  flex-direction: row-reverse;
}

.viewport .page-right {
  right: 0;
}

.viewport img {
  max-width: 100%;
  max-height: 100%;
}

.viewport .oneside {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}